* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}


#header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
}
#headerCabecalho {
    display: flex;
    gap: 1.25vw;
    margin: 6% 6% 3% 6%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: underline;
    }
}
#headerNavegacao{
    width: 50%;
    /*afastar os elementos de tag a*/
    display: flex;
    margin: 3% 6% 3% 6%;
    justify-content: space-between;
    a {
        color:  #474747; 
        text-decoration: none; /* Remove underline padrão */
    }
    a.active{
        color: #C92071;
        font-weight: bold;
        text-decoration: underline;
    }
}
#pesquisa form {
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Alinha verticalmente */
    background: #F5F5F5;
    color: #666666; /* dark-gray-3 */
    border: none;
    border-radius: 7%;
    flex: 1; /* Ocupa todo o espaço disponível */
    padding: 1%;
}
#pesquisa input[type="text"]{
    background: #F5F5F5;
    color: #666666; /* dark-gray-3 */
    border: none;
    flex: 1; /* Ocupa todo o espaço disponível */
}
#pesquisa button {
    background:transparent;
    color: #666666; /* dark-gray-3 */
    border: none;
    border-radius: 0%;
}
#pesquisa button:hover{
    transform: none;
}
/**/


#bodyDestaque {
    background-color: #F5F5F5;

    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#descricao {
    background-color:#F5F5F5;
    
    width: 40%;
    display: flex;
    margin: 7%;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 600px;
    flex: 1;
    padding: auto;
    
    h3 {
        color: #F6AA1C;
        margin: 2%;
    }
    h1{
        font-weight: 900;
        color: #1F1F1F;
        font-size: 250%;
        line-height: 120%;
        margin: 2%;
    }
    h1:hover{
        font-weight: bold;
        text-decoration: underline;
        transform: scale(1.1);
    }
    p {
        width: 80%;
        color: #474747;
        line-height: 140%;
        margin: 2%;
    }
}
#imgDestaque {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7%;
    box-sizing: border-box;
    max-width: 600px;
    flex: 1;
    transition: opacity 1s ease-in-out;
    /*garante que a iamgem nao saia da div*/
    overflow: hidden;
    /*ajustar tamanho da iamgem ao tamanho da div*/
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    .active {
        opacity: 1;
    }
}



#bodyColecao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*permite que os itens dentro do contêiner sejam dispostos em várias linhas conforme necessário.*/
    h2 {
        width: 100%;
        margin: 1% 7% 1% 7%;
        color:#474747;
    }
}
#card{
    display: flex;
    margin: 2%;
    justify-content: center;
    box-sizing: border-box;
    img {
        overflow: hidden; /*garante que a iamgem nao saia da div*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4%;
        transition: transform 0.3s ease;
    }
    img:hover{
        transform: scale(1.1);
    }
}/**/
#icon{
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    img {
        overflow: hidden; /*garante que a iamgem nao saia da div*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    img:hover{
        transform: scale(1.1);
    }
}


#bodyProdutos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*permite que os itens dentro do contêiner sejam dispostos em várias linhas conforme necessário.*/
    h2 {
        width: 100%;
        margin: 1% 7% 1% 7%;
        color:#474747;
    }
}
#ProductListing {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin: 2%;
    width: 100%;
    justify-content: center;
}
#ProductCard {
    width: 40%;
    color: #1F1F1F;
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    img {
        overflow: hidden; /*garante que a iamgem nao saia da div*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
        transition: transform 0.3s ease;
    }
    img:hover{
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}
#discount {
    h3 {
        color: #8F8F8F;
        display: inline-block;
        text-decoration: line-through;
    }
    h4{
        color: #1F1F1F;
    }
}


#footer {
    background-color: #1F1F1F;
    color: #FFFFFF;/* white */
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
    gap: 20%;
}
#footerPrincipal {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    p{
        width: 65%;
    }
}
#footerSecundario {
    text-align: center;
}
#list {
    display: flex;
    flex-flow: column wrap;
}



button {
    border-radius: 8em;
    border: none;
    padding: 0.5em 3em;
    background-color: #C92071;
    color:#FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 2%;
}
button:hover{
    transform: scale(1.5);
}

@media(max-width: 700px){
    #header {
        a {
            display: none;
        }
        button {
            display: none;
        }
    }
    #headerNavegacao {
        display: none;
    }
    #pesquisa input {
        display: none;
    }
    #bodyDestaque {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column-reverse nowrap;
        padding:5%;
    }
    #descricao {
        flex: 100%;
        width:70%;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
        h3 {
            color: #C92071
        }
        p {
            width: 70%;
        }
    }
    #imgDestaque {
        flex: 100%; /*qndo diminui ocupa 100% da largura da tela*/
        width: 100%;
    }
    #footer {
        gap: 10%;
        width: 100%;
    }
    #footerPrincipal {
        flex-wrap: wrap;
        justify-content: flex-start;
        
        display: flex;
        margin: auto;
        gap: 10%;
    }
    #card {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }
    #icon {
        display: flex;
        flex-flow: row nowrap;
    }
}